#goback{
  text-align: left;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  color: #ffffff;
}

.left, .right, .center, .trailer, .scrollable-images, .reviews {
  padding: 20px;
}

.left, .right {
  width: 20%;
  float: left;
}

.center {
  width: 50%; /* Adjusted width for information */
  float: left;
}

.left .game-image img {
  max-width: 100%;
  height: auto;
}

.rating {
  margin-top: 20px;
}

.rating p {
  margin-bottom: 5px;
}

.thumbs img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.genres {
  margin-top: 50px; /* Adjust as needed */
}

.genre-tags {
  display: flex;
  flex-direction: column; /* Display tags in a column */
}

.genre-tags span {
  background-color: #ffcc00;
  color: #000000;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.right .recommended-images {
  display: flex;
  flex-wrap: wrap;
}

.right .recommended-game {
  flex: 1 0 100%; /* Adjusted flex value */
  text-align: center;
  margin-bottom: 10px;
}

.right .recommended-game img {
  width: 80%; /* Adjusted size for recommended game images */
  height: auto;
}

.trailer iframe {
  width: 100%;
  height: 400px;
}

.scrollable-images h2 {
  overflow: hidden;
}
.image-scroll{
  overflow-x: auto;
  white-space: nowrap;
}

.scrollable-images img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

.reviews textarea {
  width: calc(100% - 20px);
  height: 100px;
  margin-bottom: 10px;
}

.reviews button {
  padding: 5px 10px;
  background-color: #212121;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #1a1a1a;
  color: #ffcc00;
  padding: 20px;
  text-align: center;
  clear: both; /* Ensure footer clears both floating elements */
}

footer a {
  color: #ffcc00;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffffff;
}

footer p {
  margin: 5px 0;
}


.right {
  animation: slideLeft 1s ease;
}

.center {
  animation: slideUp 1s ease;
}

.left {
  animation: slideRight 1s ease;
}

@keyframes slideLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideUp {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideRight {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}